.home-container {
  position: absolute;

  .left {
    background-color: transparent;
    width: 8%;
    min-height: 100vh;
    height: fit-content;
    color: white;
  }

  .right {
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    height: fit-content;
    color: white;

    .item-list {
      margin-right: 100px;
      margin-top: 100px;
      display: grid;
      background-color: transparent;
      grid-template-columns: auto auto auto auto;
      grid-auto-flow: row;
      grid-gap: 10px;

      .card-frame {
        border: none;
        // cursor: pointer;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        width: 230px;
        height: 340px;
        margin-left: 50px;
        transition: 0.3s ease all;

        &:hover {
          box-shadow: rgba(1, 1, 1, 1.1) 0px 1px 3px 0px,
            rgba(77, 77, 77, 0.15) 0px 0px 0px 1px;
        }

        img{
          height:150px;
          width:230px;
        }

        .item-name, .shop-name {
          text-align: center;
          color: rgb(27, 27, 255);
        }

        .price {
          text-align: center;
          color: black;
          font-weight: bold;
        }

        button {
          cursor: pointer;
          border-color: rgba(214, 214, 214, 0.377);
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
            rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          height: 50px;
          width: 100%;
          background-color: rgba(255, 203, 60, 0.87);
          border: none;
          transition: 0.3s ease all;


          &:hover {
            background-color: rgba(4, 0, 255, 0.87);
            color: white;
          }
        }
      }
    }
  }
}
