.home-container {
    display: flex;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    background-position: center;
    background-image: url('./Home-image/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}