.home-container {
    overflow-y: auto;
    justify-items: center;
    display: flex;
    position: fixed;
    height: 100vh;
    min-width: 100vw;
    background-position: center;
    background-image: url('./Home-image/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}