.filter-container {
    position: relative;
    display: flex;
    justify-content: center;

    .radio-btn {
        border: solid black 1px;
        display: flex;
        position: relative;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 6vh;
        width: 67.2vw;
        background-color:rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        text-indent: 4px;

        .range {
            position: relative;
            display: flex;
            margin-right: 4px;

            p{
                padding-right: 4px;
            }
        }
        

        label {
            position: relative;
            align-items: center;
            margin-left: 20px;
            margin-right: 40px;
            // padding-right: 4px;
        }
    }

    .check-box {
        border: solid black 1px;
        position: relative;
        font-weight: bold;
        display: flex;
        align-items: center;
        height: 6vh;
        width: 20vw;
        background-color:rgb(255, 255, 255);
        color: rgb(0, 0, 0);

        label {
            display: flex;
            padding-left: 10px;
            text-indent: 8px;
        }
    }
}