.sidebar_container {
  background-color: rgb(58, 58, 58);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &::-webkit-scrollbar {
    width: 1px;
  }

  .icon {
    width: 60px;
    // background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      // background-color: rgb(32, 32, 32);
      margin-top: 10px;
      margin-bottom: 5px;
      padding: 5px 8px;
      font-size: 30px;
      font-weight: 900;
      color: #fff;
      cursor: pointer;
      border-radius: 4px;
      // background-color: red;
      // padding: 3px;
    }

    i:hover {
      background-color: rgb(0, 0, 0);
    }
  }

  .main_content {
    ul {
      margin-top: 20px;
      overflow: hidden;
      li {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.2s ease all;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0 5px;
        border-radius: 4px;
        margin-bottom: 15px;

        padding-left: 9px;
        i {
          font-size: 20px;
          color: #fff;
          padding: 4px;
        }
        // i:hover{
        //     background-color: aqua;
        // }

        .pageName {
          color: #fff;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 600;
          // padding: 5px;
          padding-left: 10px;
          font-size: 18px;
        }
      }

      .image_li {
        margin: 0 5px;
        margin-left: 2px;
        margin-bottom: 20px;

        .image {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid rgba(255, 255, 255, 0);
          // padding: 2px;
          overflow: hidden;
          transition: 0.3s ease all;

          img {
            // width: 35px;
            height: 35px;
            border-radius: 50%;
            overflow: hidden;
          }
        }
      }

      li:hover {
        background-color: rgb(0, 0, 0);
      }

      //   .image_li:hover{
      //     // background-color: rgba(0, 0, 0, 0);
      //     .image{
      //         // border: 2px solid #fff;
      //     }
      //   }
    }
    .logout:hover {
      background-color: rgb(255, 39, 39);
    }
    .active {
      li {
        background-color: rgb(254, 254, 255);
        i {
          color: black;
        }
        .pageName {
          color: black;
        }
      }

      li:hover {
        background-color: rgb(255, 255, 255);
      }
    }
  }
}
