.sidebar_container{
    background-color: rgb(58, 58, 58);
    height: 100vh;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .icon{
        width: 60px;
        // background-color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;

        i{
            // background-color: rgb(32, 32, 32);
            margin-top: 10px;
            margin-bottom: 5px;
            padding: 5px 8px;
            font-size: 30px;
            font-weight: 900;
            color: #fff;
            cursor: pointer;
            border-radius: 4px;
            // background-color: red;
            // padding: 3px;
            
        }

        i:hover{
            background-color: rgb(0, 0, 0);
        }
    }

    .main_content{
        

        ul{
            margin-top: 20px;
            li {
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: 0.2s ease all;
                padding-top: 5px;
                padding-bottom: 5px;
                margin: 0 5px;
                border-radius: 4px;
                margin-bottom: 15px;
                
                padding-left: 9px;
                i{
                    font-size: 20px;
                    color: #fff;
                    padding: 4px;
                }
                // i:hover{
                //     background-color: aqua;
                // }

                .pageName{
                    color: #fff;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 600;
                    // padding: 5px;
                    padding-left: 10px;
                    font-size: 18px;
                }
                // .pageName:hover{
                //     background-color: aqua;

                // }
            }

            li:hover{
                background-color: rgb(0, 0, 0);
            }
        }
        .active{
            li{
                background-color: rgb(254, 254, 255);
                i{
                    color: black;
                }
                .pageName{
                    color: black;
                }
            }

            li:hover{
                background-color: rgb(255, 255, 255);
            }

        }
    }
    
}